*{
margin:0;
padding:0;
  }

body{
font-size: 100%;
font-family: sans-serif;
}
div, section,span,ul,li,a,header{
box-sizing: border-box;
}

header{
width: 100%;
display: flex;
align-items: center;
padding: 20px  50px;
}

#menu li{
  text-align:center;
    list-style: none;
    display: inline-block;
    margin: 28px;

}
ul{
  
  display:table;
  margin:0 auto;
  padding-right: 60px;
}


#menu li a{

color: black;
text-decoration: none;
font-size: 20px;
font-weight: bold;

}

#hamburger{
  display: none;
}

#blacksearch{
  display: none;
}



.example input[type=text]{
  
  width: 80%;
  height: 2.5rem;
  background: #ededed  ;
  outline: none;
  border: solid;
  border-color:#ededed  ;
  border-radius: 1.625rem;
  padding: 0 .5rem 0 1.5rem;
  padding-right: 2px;
  font-size: 1rem;

  }

#search{
  position:relative;
  bottom: 0px;
  left: 30px;
  width:20px;
  height: 20px;
}

h1{
  font-family: 'Times New Roman', Times, serif;
  text-align:center;
  font-size: 72px;
}
span{
  color:#004687;
}
p{
  padding-top: 10px;
  font-family: 'Calibri';
  text-align:center;
  font-size: 25px;
  color:#919191;
}

button{
  display: block;
  border: 0;
  font-size: 16px;
  line-height: 1;
  padding: 16px 30px;
  border-radius: 10px;
  color: white;
  background-color: #004687;
  align-items: center;
}


.container {
  width: 90%;
  max-width: 1000px;
  margin: 50px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left {
  width: 70%;
  height: 450px;
  background: url(LEFT.png)
    no-repeat center / cover;
  border-radius: 17px;
}

.right {
  width: 50%;
  min-height: 150px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  border-radius: 30px;
  color: white;
  margin-left: -150px;
  box-shadow : 1em 0 0.3em #f8f7f7; 
}


h4{
  color:#004687
}

.right h1 {
  margin: 20px 0;
  font-size: 40px;
  font-weight: lighter;
  text-align: left;
  color: black;

}
.right p {
  margin: 20px 0;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
}
.third{

  padding-top: 20px;
}
.btn {
  margin:auto;
  display:block;
}

.symbol img{
  width:20px;
  cursor: pointer;
  margin:10px;
 
} 

.symbol{
  text-align: right;
  padding-right: 300px;
  position:relative;
  top: -98px;
}

.feature {
  width: 80%;
  min-height: 520px;
  background-color:#004687;
  border-radius: 30px;
  color: white;
  margin-left: 200px;
  padding-top: 20px;
}


.heading {
  font-size: 40px;
  color: white;
  font-family: 'Times New Roman', Times, serif;
}


.profiles {
  display: flex;
  justify-content:space-evenly;
  margin: 30px 10px;
}

.profile {
  flex-basis: 100px;
}

.profile .profile-img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  filter: grayscale(100%);
  cursor: pointer;
  transition: 400ms;
  margin: 30px;
}

.profile:hover .profile-img {
  filter: grayscale(0);
}

.user-name {
  margin-top: 1px;
  font-size: 18px;
  text-align: center;
}




@media only screen and (max-width: 600px)
{

  #hamburger{
    display: block;
    position:relative;
    bottom: 0px;
    left:-26px;
    width:32px;
    height: 30px;

  }
  
  #blacksearch{
    display: block;
    position:relative;
    bottom: 0px;
    left: 200px;
    width:26px;
    height: 30px;
  }
  
  #bookpod_img
  {
    max-width: 200%;
    height:auto;
    text-align: center;
    padding-left: 74px;
    
  }

  #menu 
  {
    display:none;
    margin:0;
    padding-right: 0;
  }

  .example img
  {
    display: none;
  }

  .example input[type=text]
  {
    display:none;
  }
}


 @media only screen and (max-width:600px)
{
  h1
  {
    font-family: 'Times New Roman', Times, serif;
    text-align:center;
    font-size: 55px;
    padding-right: 0px;
    position:relative;
    left: 50px;
    white-space:nowrap;
    padding-right: 0px;  
  }

 h1#nexth1
  {
    font-family: 'Times New Roman', Times, serif;
    left: 35px;
    font-size: 55px;
  }

  br{
    text-align: left;
  }
  .second h1{
    text-align:center;
  }

  p
  {
    padding-top: 10px;
    font-family: 'Calibri';
    text-align:center;
    font-size: 24px;
    color:#919191;
    left: 100px;
    position: relative;
  }

  .third
  {
    padding-top: 30px;
    text-align: center;
    padding-left: 200px;
    position:relative;
    white-space:nowrap;
  }
}

@media only screen and (max-width:600px)
{
  .container 
  {
    flex-direction: column;
    width: 100%;
    margin: 30px 10px 20px 30px;
  }
  .left 
  {
    width: 123%;
    margin: 0 auto;
    height: 300px; 
  }
  .right 
  {
    width: 111%;
    position:relative;
    margin:0 -80px;
    padding: 0;
    margin-top: -100px;
    height:300spx;
    margin-left:auto; 
    left: 30px;
  }

  h4
  {
    color:#004687;
    padding-left:43px;
    padding-top:50px; 
  }
  
  .right h1 
  {
    margin: 20px 0;
    font-size: 40px;
    font-weight: lighter;
    text-align: left;
    color: black;
  }

  .right p 
  {
    margin: 20px auto;
    left:30px;
    padding-right:50px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
  }

  .symbol img
  {
    width:30px;
    cursor: pointer;
    margin:10px;
  } 
  
  .symbol
  {
    text-align: center;
    padding-right: 0px;
    padding-left:90px;
    padding-top:135px;
    position:relative;
    top: -90px;
    margin-left:55px;
  }
}


@media only screen and (max-width: 600px)
{

  .feature {
    width: 120%;
    min-height: 850px;
    background-color:#004687;
    border-radius: 30px;
    color: white;
    position: relative;
    margin-left: 50px; 
    padding-bottom: 0px;
    position: relative;
    padding-left: 10px;
    
  } 

  .heading
  {
    font-size: 40px;
    color: white;
    text-align: center;
    left: 70px;
  }
  h1.heading
  {
    left: -30px;
  }
  .profiles 
  {
    margin: 25px 0;
    float:left;
    padding-left:30px;
  }

}


  @media only screen and (max-width: 600px)
 {
  .profiles 
  {
    flex-direction: column;
  }

  .profile 
  {
    display: flex;
    flex-direction:column;
    align-items: center;
  }
 
} 

  
 

